page-register {
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom-color: transparent;
        box-shadow: inset 0 -1px 0 0 transparent;
    }
    .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: transparent;
        box-shadow: inset 0 -1px 0 0 transparent;
    }


}

page-sign-in {

}
ion-content{overflow-y:hidden !important; overflow-x:hidden !important;}
ion-img{background:transparent !important;}
ion-input{background:#e4e2e3;}

.contenedor-logo{height:20%; text-align:center; background:transparent !important;}

.login{}

.boton-login{background:#3fd4ad; width:100%; background:#3fd4ad;}
.button:hover{background:#25cad3;}

.registrar{width:100%; cursor:pointer; text-align:center; color:#25cad3;}

.fondo-registro{background:#fff !important;}

.scroll-content{overflow-y:hidden;}

.campos{margin-bottom: 2%;}

.item-md.item-block .item-inner{border:none;}

ion-item{border-bottom: 1px solid transparent !important;}

.radio{border: 1px #fff solid !important; background: #fff !important;}

.boton-registro{background:#fc3850; width:100%; border-radius: 30px;}

.campos-register{background:#ffffff !important; border-radius: 30px; height: 45px; border: 1px #ddd solid; padding-left: 5%;}

.item-register{padding: 2% 0 2% 0;}

.list-ios .item-block .item-inner {border-bottom: 0.55px solid #fff !important;}

.toolbar-title{color:#fff !important;}

.bar-button-default{color:#fff !important;}

