<ion-header>
  <ion-navbar>
    <ion-title style="background:#25cad3;">
      REGÍSTRATE
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="fondo-register" padding>
  <ion-scroll style="height: 100%;" scrollY="true">
    <form [formGroup]="myForm">
      <ion-row>
        <ion-col col-2>
          <ion-icon name="person"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <ion-input class="campos-register" formControlName="name" type="text" [(ngModel)]="user.nombre" placeholder="Nombre"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="myForm.get('name').errors && myForm.get('name').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('name').hasError('required')">El campo nombre es requerido</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2>
          <ion-icon name="person"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <ion-input class="campos-register" formControlName="lastName" type="text" [(ngModel)]="user.apellidos" placeholder="Apellidos"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="myForm.get('lastName').errors && myForm.get('lastName').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('lastName').hasError('required')">El campo apellidos es requerido</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-2>
          <ion-icon name="mail" item-left></ion-icon>
        </ion-col>
        <ion-col col-10>
          <ion-input class="campos-register" formControlName="email" type="email" [(ngModel)]="user.email" placeholder="Email"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('email').hasError('required')">El campo email es requerido</p>
          <p color="danger" ion-text *ngIf="myForm.get('email').hasError('email')">Ingresar un email valido</p>
        </ion-col>
      </ion-row>
      <!--  -->
      <ion-row>
        <ion-col col-2>
          <ion-icon name="calendar" item-left></ion-icon>
        </ion-col>
        <ion-col col-10>
          <ion-label style="padding-left:3%;" stacked>Fecha de nacimiento:</ion-label>
          <ion-datetime style="padding-left: 5%;" formControlName="dateBirth" displayFormat="MM-DD-YYYY" [(ngModel)]="user.fechaNacimiento"
            placeholder="MM-DD-YYY"></ion-datetime>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="myForm.get('dateBirth').errors && myForm.get('dateBirth').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('dateBirth').hasError('required')">El campo fecha Nacimiento es requerido</p>
        </ion-col>
      </ion-row>
      <!-- -->
      <div formGroupName="passwordRetry">
        <ion-row>
          <ion-col col-2>
            <ion-icon name="eye" item-left></ion-icon>
          </ion-col>
          <ion-col col-10>
            <ion-input class="campos-register" formControlName="password" type="password" [(ngModel)]="user.password" placeholder="Contraseña"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngIf="myForm.get('passwordRetry').errors && myForm.get('passwordRetry').dirty">
            <p color="danger" ion-text *ngIf="myForm.get('passwordRetry').get('password').hasError('required')">El campo contraseña es requerido</p>
            <p color="danger" ion-text *ngIf="myForm.get('passwordRetry').get('password').hasError('pattern')">La contraseña debe tener entre 8 y 12 caracteres, al menos un dígito, al menos una minúscula y al menos una mayúscula</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-2>
            <ion-icon name="eye" item-left></ion-icon>
          </ion-col>
          <ion-col col-10>
            <ion-input class="campos-register" formControlName="passwordConfirmation" type="password" [(ngModel)]="user.passwordConfirmation"
              placeholder="Confirmar contraseña"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngIf="myForm.get('passwordRetry').errors && myForm.get('passwordRetry').dirty">
            <p color="danger" ion-text *ngIf="myForm.get('passwordRetry').get('passwordConfirmation').hasError('required')">El campo confirmar contraseña es requerido</p>
            <p color="danger" ion-text *ngIf="myForm.get('passwordRetry').get('passwordConfirmation').hasError('pattern')">La contraseña debe tener entre 8 y 12 caracteres, al menos un dígito, al menos una minúscula y al menos una mayúscula</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngIf="myForm.get('passwordRetry').errors && myForm.get('passwordRetry').dirty">
            <p color="danger" ion-text *ngIf="matchingPasswords(user.password,user.passwordConfirmation)">las contraseñas no son iguales</p>
          </ion-col>
        </ion-row>
      </div>
      <ion-row radio-group formControlName="gender" [(ngModel)]="user.genero">
        <ion-item>
          <ion-icon name="woman" item-left></ion-icon>
          <ion-label style="padding-left:3%;">Mujer</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-icon name="man" item-left></ion-icon>
          <ion-label style="padding-left:3%;">Hombre</ion-label>
          <ion-radio style="color:#000;" value="1"></ion-radio>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="myForm.get('gender').errors && myForm.get('gender').dirty">
          <p color="danger" ion-text *ngIf="myForm.get('gender').hasError('required')">El campo genero es requerido</p>
        </ion-col>
      </ion-row>
      <ion-row  padding>
        <ion-col>
          <button ion-button block class="boton-registro" type="submit" (click)="register(user)" [disabled]="myForm.invalid">Guardar</button>
        </ion-col>
      </ion-row>
    </form>
  </ion-scroll>
</ion-content>