page-sign-in {

  ion-content{overflow-y:hidden !important; overflow-x:hidden !important;}
  ion-img{background:transparent !important;}
  ion-input{background:#e4e2e3;}

  .contenedor-logo{margin-top:2% !important; height:25%; text-align:center; background:transparent !important;}

  .login{height:80%;}

  .boton-login{background:#fc3850; width:100%; border-radius: 30px; font-family: 'SWAP';}
  
  .boton-google{background:#dd4b39; width:100%; border-radius: 30px; color:#fff; font-family: 'SWAP';}
  
  .boton-facebook{background:#3b5998; width:100%; border-radius: 30px; color:#fff; font-family: 'SWAP';}
  
  .campos-login{background:#ffffff !important; border-radius: 30px; height: 45px;}

  .button:hover{background:#25cad3;}

  .registrar{width:100%; cursor:pointer; text-align:center; color:#ffffff;}
  
  .content-ios{background-color: transparent !important;}
  
  .item-ios {background-color: transparent !important;}
  
  .scroll-content{overflow-y:hidden;}

  .campos{margin-bottom: 2%;}

  .item-md.item-block .item-inner{border:none;}
  
  .text-input{padding-left: 15px !important;}

}



