page-sign-in {

  ion-content{overflow-y:hidden !important; overflow-x:hidden !important;}
  ion-img{background:transparent !important;}
  ion-input{background:#e4e2e3;}

  .contenedor-logo{height:20%; text-align:center; background:transparent !important;}

  .login{height:80%;}

  .boton-login{background:#3fd4ad; width:100%; background:#3fd4ad;}
  .button:hover{background:#25cad3;}

  .registrar{width:100%; cursor:pointer; text-align:center; color:#25cad3;}

  .fondo{background:#25cad3;}

  .scroll-content{overflow-y:hidden;}

  .campos{margin-bottom: 2%;}

  .item-md.item-block .item-inner{border:none;}

}



