<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        Chat
      </ion-title>
      <ion-buttons right>
        <button ion-button icon-only style="background-color: transparent;"  (click)="cerrarChat()">
          Cerrar
        </button>
      </ion-buttons>
     </ion-navbar>
  </ion-header>
  <ion-content   padding>
  
      <ion-scroll  style="width:100%;height:90vh" scrollY="true">
         <ion-list (click)="onFocusList2(input)"  id="idLista"  *ngIf="mostrar" scroll="true" no-lines>
          <ion-item  *ngFor="let item of conversaciones || async;">
            <div *ngIf="item.usuario == usuarioLoggeado.email">
              <div class="bubble you" style="background-color: #25cad3">
                <h3 style="color: black">{{item.usuario}} </h3>
                <p style="width:100%;white-space: normal;">{{item.mensaje}}</p>
                <p style="font-size: 8pt; text-align: right"> {{ item.fecha | date:"dd/MM/yyyy HH:mm"}}</p>
              </div>
            </div>
            <div style="clear:both"></div>
            <div *ngIf="item.usuario != usuarioLoggeado.email">
              <div class="bubble me" style="background-color: #DEDEE5">
                <h3 style="color: #25cad3">{{item.usuario}}</h3>
                <p style="width:100%;white-space: normal;">{{item.mensaje}}</p>
                <p style="font-size: 8pt;text-align: right"> {{ item.fecha | date:"dd/MM/yyyy HH:mm"}}</p>
              </div>
            </div>  
          </ion-item>
          <ion-item style="width:0.00001%;height: 0.00001%;"  >
              <ion-input  #input style="width:0.00001%;height: 0.00001%;"   readonly="true" type="text"></ion-input>
          </ion-item>
          
        </ion-list>
      
    </ion-scroll>
  </ion-content>
  <ion-footer>
    <ion-item>
      <ion-input type="text" placeholder="escriba información cambio swap aquí." [(ngModel)]="msgVal"></ion-input>
      <button ion-button clear item-right (click)="chatSend()">Enviar</button>
    </ion-item>
  </ion-footer>