page-forgotpass {

}
ion-content{overflow-y:hidden !important; overflow-x:hidden !important;}
ion-img{background:transparent !important;}
ion-input{background:#e4e2e3;}
ion-label{color:#fff; cursor:pointer;}

.contenedor-logo{height:20%; margin-top:25%; text-align:center; background:transparent !important;}

.login{height:40%; border-radius:30px;}

.boton-login{background:#3fd4ad; width:100%; background:#3fd4ad;}
.button:hover{background:#25cad3;}
h2{color:#000;}
.registrar{width:100%; cursor:pointer; text-align:center; color:#25cad3;}

.scroll-content{background: white!important;}

.fondo-contra{padding-bottom: 5%; background-image: url('/../../assets/images/fondo-contra.png'); background-size:cover; background-repeat: no-repeat;}

.scroll-content{overflow-y:hidden;}

.campos{margin-bottom: 2%;}

.item-md.item-block .item-inner{border:none;}

.reset {background:#25cad3;}

.campos-forgot{padding-left: 20%; padding-top: 4%; background: transparent !important; border-radius: 30px; height: 45px;}

.boton-reset{background-color:#ffffff !important; color:red !important; font-size:20px;}

.item-inner{border-bottom: 0.55px solid transparent !important;}

.radio{border: 1px #ccc solid; border-radius: 10px; height: 25px; width: 25px;}