page-modalSearch {
    .alert-md .alert-button-group {
        background: green;
    }
.boton-swaparticulo{background:#fc3850; width:100%; border-radius: 30px;}

.campos-categoria{background:#25cad3 !important; color:#ffffff ;font-size: 1.5rem; border-radius: 30px; height: 20px; border: 1px #ddd solid; padding-left: 5%; margin: 0 60% 0 5%;}
.campos-panelarticulo{background:#ffffff !important; border-radius: 30px;  border: 1px #ddd solid;  margin: 0 0 2% 0;}
.campos-buscar3{background:#25cad3 !important; border-radius: 30px; height: 45px; border: 1px #ddd solid; padding-left: 5%; }
.campos-textbuscar{background:#ffffff !important; height: 100px;  padding-left: 5%;}

   
}


