<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Chat
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only style="background-color: transparent;" *ngIf="mostrarCerrar" (click)="cerrarChat()">
        Cerrar
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-scroll style="width:100%;height:90vh" scrollY="true">
    <div *ngIf="tipoChat">
      <ion-list *ngFor="let conversacion of conversaciones">
        <ion-item (click)="cargarChat(conversacion)">
          <ion-thumbnail item-start>
            <img style="width: 60px;height: 60px;" src="assets/images/mensaje.png">
          </ion-thumbnail>
          <h2 style="color:#25cad3; ">{{conversacion.articulo}}</h2>
          <h2>{{conversacion.usuarioPertenece}}</h2>

        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="tipoChat">
      <ion-list *ngFor="let conversacion of conversaciones2">
        <ion-item (click)="cargarChat(conversacion)">
          <ion-thumbnail item-start>
            <img style="width: 60px;height: 60px;" src="assets/images/mensaje.png">
          </ion-thumbnail>
          <h2 style="color:#25cad3; ">{{conversacion.articulo}}</h2>
          <h2>{{conversacion.usuarioPertenece}}</h2>

        </ion-item>
      </ion-list>
    </div>
  </ion-scroll>

 <!-- <div *ngIf="!tipoChat">
    <ion-scroll style="width:100%;height:90vh" scrollY="true">
      <ion-list *ngIf="mostrar" scroll="true" no-lines>
        <ion-item *ngFor="let item of items || async">
          <div *ngIf="item.usuario == usuarioLoggeado.email">
            <div class="bubble you" style="background-color: #25cad3">
              <h3 style="color: black">{{item.usuario}} </h3>
              <p>{{item.mensaje}}</p>
              <p style="font-size: 8pt; text-align: right"> {{ item.fecha | date:"dd/MM/yyyy HH:mm"}}</p>
            </div>
          </div>
          <div style="clear:both"></div>
          <div *ngIf="item.usuario != usuarioLoggeado.email">
            <div class="bubble me" style="background-color: #DEDEE5">
              <h3 style="color: #25cad3">{{item.usuario}}</h3>
              <p>{{item.mensaje}}</p>
              <p style="font-size: 8pt;text-align: right"> {{ item.fecha | date:"dd/MM/yyyy HH:mm"}}</p>
            </div>
          </div>

        </ion-item>
      </ion-list>
   </ion-scroll>
  </div>-->

</ion-content>
 <!--<ion-footer>
  <ion-item>
    <ion-input type="text" placeholder="escriba información cambio swap aquí" [(ngModel)]="msgVal"></ion-input>
    <button ion-button clear item-right (click)="chatSend()">Enviar</button>
  </ion-item>
</ion-footer>-->