<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Chat
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only style="background-color: transparent;" *ngIf="mostrarCerrar" (click)="cerrarChat()">
        Cerrar
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content padding>

  <ion-scroll style="width:100%; height:90%" scrollY="true">
    <div *ngIf="tipoChat">
      <ion-list *ngFor="let conversacion of conversaciones">
        <ion-item (click)="cargarChat(conversacion)">
          <ion-thumbnail item-start>
            <img style="width: 60px;height: 60px;" src="assets/images/mensaje.png">
          </ion-thumbnail>
          <h2 style="color:#25cad3; ">{{conversacion.articulo}}</h2>
          <h2>{{conversacion.usuarioPertenece}}</h2>

        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="tipoChat">
      <ion-list *ngFor="let conversacion of conversaciones2">
        <ion-item (click)="cargarChat(conversacion)">
          <ion-thumbnail item-start>
            <img style="width: 60px;height: 60px;" src="assets/images/mensaje.png">
          </ion-thumbnail>
          <h2 style="color:#25cad3; ">{{conversacion.articulo}}</h2>
          <h2>{{conversacion.usuarioPertenece}}</h2>

        </ion-item>
      </ion-list>
    </div>
  </ion-scroll>
</ion-content>
