page-home {
  ion-content{overflow-y:hidden !important; overflow-x:hidden !important;}
  ion-img{background:transparent !important;}
  ion-input{background:#e4e2e3;}
  ion-label{color:#fff; cursor:pointer;}

  .contenedor-logo{height:20%; text-align:center; background:transparent !important;}

  .login{height:60%;}

  .boton-login{background:#3fd4ad; width:100%; background:#3fd4ad;}
  .button:hover{background:#25cad3;}
  
  .fondo-search{padding-bottom: 5%;}

  .registrar{width:100%; cursor:pointer; text-align:center; color:#25cad3;}

  .scroll-content{overflow-y:hidden;}

  .campos{margin-bottom: 2%;}

  .item-md.item-block .item-inner{border:none;}

  ion-icon {
    &[class*="appname-"] {
      // Instead of using the font-based icons
      // We're applying SVG masks
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1.5em;
      height: 1.5em;
    }
    // custom icons
    &[class*="appname-customicon1"] {
      mask-image: url(../assets/images/favicon.png);
    }


}

.imgLoader{
 background-size: cover;
}

}

