page-publish {
    .alert-md .alert-button-group {
        background: green;
    }
.boton-publicar{background:#fc3850; width:100%; border-radius: 30px;}

.campos-publicar{background:#ffffff !important; border-radius: 30px; height: 45px; border: 1px #ddd solid; padding-left: 5%;}
.campos-textpublicar{background:#ffffff !important; border-radius: 30px; height: 100px; border: 1px #ddd solid; padding-left: 5%; margin: 2% 0 2% 0;}
.campos-textpublicar2{background:#ffffff !important; height: 100px; }
.campos-publicar2{background:#ffffff !important; border-radius: 30px; height: 45px; border: 1px #ddd solid; padding-left: 5%;  margin: 2% 0 2% 0;}
.campos-publicar3{background:#25cad3 !important; border-radius: 30px; height: 45px; border: 1px #ddd solid; padding-left: 5%; }






    
    
}


