// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.menu-ppal{border-top-right-radius: 30px; border-top-left-radius: 30px;}

.segment-button{border-color:transparent !important; height: 5rem !important;}

.segment-activated{background-color: transparent !important; border-bottom: 1px #fff solid !important;}

.toolbar{min-height: 60px !important;}

.toolbar-background{background: transparent !important;}

.label {color:#25cad3 !important;}
.toolbar-background-md {
		background: rgba(128,211,173,1) !important;
		background: -moz-linear-gradient(left, rgba(128,211,173,1) 15%, rgba(116,201,210,1) 100%) !important;
		background: -webkit-gradient(left top, right top, color-stop(15%, rgba(128,211,173,1)), color-stop(100%, rgba(116,201,210,1))) !important;
		background: -webkit-linear-gradient(left, rgba(128,211,173,1) 15%, rgba(116,201,210,1) 100%) !important;
		background: -o-linear-gradient(left, rgba(128,211,173,1) 15%, rgba(116,201,210,1) 100%) !important;
		background: -ms-linear-gradient(left, rgba(128,211,173,1) 15%, rgba(116,201,210,1) 100%) !important;
		background: linear-gradient(to right, rgba(128,211,173,1) 15%, rgba(116,201,210,1) 100%) !important;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80d3ad', endColorstr='#74c9d2', GradientType=1 ) !important;
	}
	
.toolbar-title-md{
		text-align:center !important;
		color:#fff;
		}
		
.ion-md-menu {color:#fff !important;}		


.alert-md .alert-head {
    background-color: #25cad3;
	text-align: center;
	color: white;
	}
	
	.alert-md .alert-button-group {
	background-color:#25cad3;
	color: white; 
	}
	.alert-md .alert-button .button-inner {
	 color: white;
	}

	.alert-md [aria-checked=true] .alert-checkbox-icon {
		border-color: #25cad3;
		background-color: #25cad3;
	}
	.alert-md [aria-checked=true] .alert-radio-icon {
		border-color: #25cad3;
	}
	.alert-md [aria-checked=true] .alert-radio-label {
		color: #25cad3;
	}

	.alert-md .alert-radio-inner {
	   background-color: #25cad3;
	}
	.alert-md .alert-checkbox-label {
		white-space: normal;
	}
	


ion-alert {
    &.alert-danger {
       .alert-title{
        color: #25cad3;  
       }
       .alert-head {
         background: white;
         color: #25cad3;
         margin-bottom: 10px;
         text-align: center;
       }
       .alert-button-group {
        background-color:white;
        text-align: center;
     }
        .alert-button {
         border-radius: 6px;
         position: relative;
         overflow: hidden;
         font-weight: 500;
         text-transform: uppercase;
         color: white;
         background-color: transparent;
         font-size: 13pt;
         background: #25cad3;
     }
	 }
	 
	 &.alert-danger2 {
		.alert-title{
		 color: #fc3850;  
		}
		.alert-head {
		  background: white;
		  color: #25cad3;
		  margin-bottom: 10px;
		  text-align: center;
		}
		.alert-button-group {
		 background-color:white;
		 text-align: left;
		 padding-left: 3px;
		 padding-right: 3px;
	  }
		 .alert-button {
		  border-radius: 30px;
		  margin: 0 0 2% 0;
		  position: relative;
		  overflow: hidden;
		  font-weight: 500;
		  text-transform: uppercase;
		  color: white;
		  background-color: transparent;
		  font-size: 13pt;
		  background: #25cad3;
	  }
	  }
   
   }

   .segment-md .segment-button {
   
    opacity: 1;
}

.radio-md .radio-icon {
	left: 3px !important;
    top: 4px !important;
	border-color: #ffffff !important;
	}
	
	.label{margin-top: 0px !important;}

/* NOTA: para cambiar todo el tipo de letra de la app */

  @font-face {
    font-family: 'SWAP';
    src: url('../assets/font/SWAP.eot');
    src: url('../assets/font/SWAP.eot') format('embedded-opentype'),
         url('../assets/font/SWAP.woff2') format('woff2'),
         url('../assets/font/SWAP.woff') format('woff'),
         url('../assets/font/SWAP.ttf') format('truetype'),
         url('../assets/font/SWAP.svg#SWAP') format('svg');
}

@font-face {
    font-family: 'textos';
    src: url('../assets/font/textos.eot');
    src: url('../assets/font/textos.eot') format('embedded-opentype'),
         url('../assets/font/textos.woff2') format('woff2'),
         url('../assets/font/textos.woff') format('woff'),
         url('../assets/font/textos.ttf') format('truetype'),
         url('../assets/font/textos.svg#textos') format('svg');
}

ion-app.md {
	font-family: 'SWAP';
	font-size: 1.4rem;
	background-color: #fff;
  }
  
  .title{font-family: 'SWAP';}
  h1, h4{font-family: 'SWAP';}
  h2, h3{font-family: 'textos';}
  p{font-family: 'textos';}
  

