.item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img {
  width: 100px;
  height: 100px;
}

.scroll-content{background: white !important;}

.button-md:hover:not(.disable-hover) {
  background-color: #36f4b5;
}
