page-search {
    .alert-md .alert-button-group {
        background: green;
    }
.boton-buscar{background:#fc3850; width:100%; border-radius: 30px; font-family: 'SWAP';}

.campos-buscar{background:#ffffff !important; border-radius: 30px; height: 45px; border: 1px #ddd solid; padding-left: 5%;}
.campos-buscar2{background:#ffffff !important; border-radius: 30px; height: 45px; border: 1px #ddd solid; padding-left: 5%;  margin: 2% 0 2% 0;}
.campos-buscar3{background:#25cad3 !important; border-radius: 30px; height: 45px; border: 1px #ddd solid; padding-left: 5%; }
.campos-textbuscar{background:#ffffff !important; height: 100px; }

   
}


