page-swap {
    .alert-md .alert-button-group {
        background: green;
    }
.boton-swap{background:#fc3850; width:100%; border-radius: 30px;}

.campos-swap{background:#ffffff !important; border-radius: 30px; height: 45px; border: 1px #ddd solid; padding-left: 5%;}
.campos-textcomentario{background:#ffffff !important; border-radius: 15px; height: 120px; border: 1px #ddd solid; padding-left: 5%; margin: 2% 0 2% 0;}
.campos-textcomentario2{background:transparent !important; height: 100px;  padding-left: 5%;}

   
}


